<div class="card">
  <div class="card-header">
    {{pageTitle}}
  </div>
  <div class="card-body">
    <div class="container-fluid">
      <div class="text-center">
        <img src="./assets/images/welcome.jpg"
             class="img-responsive center-block"
              />
      </div>

      <div class="text-center">Developed by:</div>
      <div class="text-center">
        <h3>Raghav </h3>
      </div>

      <div class="text-center">rmysari@barclaycardus.com</div>
    </div>
  </div>
</div>